.overview * {
  box-sizing: border-box;
}

.automation-builder {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}

@media (max-width: 500px) {
  .automation-builder {
    flex-direction: column;
  }
}

.automation-builder .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.automation-builder aside.sidebar {
  background: #fcfcfc;
  border-left: 1px solid #000000;
  padding: 10px;
}

.automation-builder aside .description {
  margin-bottom: 10px;
}

.automation-builder .dndnode {
  padding: 4px;
  border: 1px solid #cecde5;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.automation-builder .dndnode.input {
  background-color: chartreuse;
}

.automation-builder .dndnode.output {
  background-color: aqua;
}

.node-option {
  margin-bottom: 10px;
}

.edit-default-name-button {
  padding: 4px 8px;
  font-size: 10px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}

.edit-default-name-button:hover {
  background: #0056b3;
}

.sidebar .save-button {
  margin-top: 40px;
  margin-bottom: 15px;
}
